# Host port is the external port that the server will listen on, default is 8080
HOST_PORT=8080
RUST_LOG=info,tower_http=debug

# Note: we use localhost assuming the db is run via docker and the server is run locally 
# As rebuilds are really slow running rust in docker
DATABASE_URL=DB_URL=postgres://user:password@localhost:5434/server_db?sslmode=disable
JWT_SECRET=super_secret_secret_123